
{% extends 'news_mapper_web/base.html' %}

{% block title %}Query Results - {{ block.super }}{% endblock %}

{% block scripts %}
    {{ block.super }}
{#    <script>#}
{##}
{#    $(function() {#}
{#        $("#choro-div").resizable({#}
{#            start: function(event, ui) {#}
{#                ui.element.append($("<div/>", {#}
{#                    id: "iframe-barrier",#}
{#                    css: {#}
{#                        position: "absolute",#}
{#                        top: 0,#}
{#                        right: 0,#}
{#                        bottom: 0,#}
{#                        left: 0,#}
{#                        "z-index": 10#}
{#                    }#}
{#                }));#}
{#                },#}
{#            stop: function(event, ui) {#}
{#                $("#iframe-barrier", ui.element).remove();#}
{#                },#}
{#            resize: function(event, ui) {#}
{#                $("iframe", ui.element).width(ui.size.width).height(ui.size.height);#}
{#            }#}
{#        });#}
{#    });#}
{##}
{##}
{#        $(document).ready(function(){#}
{#            $("#choro-div").resizable({#}
{#                alsoResize: '#choro-iframe'#}
{#            });#}
{##}
{##}
{#        })#}
{##}
{#    </script>#}


{#    <script>#}
{#            //let doc = $("#choropleth-p")[0].contentWindow.document;#}
{#           // let doc = $("#choropleth-p")[0].contentWindow.MapWidget;#}
{#            //doc.open();#}
{#            //doc.write("{ news_query.choro_html|safe }}")#}
{#            // let iframe = ($("#choro-iframe")[0]).html({ news_query.choro_html|safe }})#}
{#            //$(document.getElementById("#choro-iframe")[0].html({ news_query.choro_html|safe }}));#}
{#        //https://stackoverflow.com/questions/494143/creating-a-new-dom-element-from-an-html-string-using-built-in-dom-methods-or-pro#}
{#        //https://stackoverflow.com/questions/2781003/how-to-insert-html-in-iframe#}
{#        import * as parent from "../../../../venv/Lib/site-packages/notebook/static/components/backbone/backbone-min";#}
{##}
    <script>
        function htmlToTemplate(html) {
            let template = document.createElement('template');
{#            let temp = document.getElementById('#choro-temp');#}
{#            let template = document.getElementById('#choro-template');#}
            html = html.trim();
            template.innerHTML = html;
{#            temp.innerHTML = html;#}
            return (template.content.childNodes);
        }
{#        function htmlToIframe(html) {#}
{#          let iframe = document.getElementById('#choro-iframe');#}
{#           let html_slice = html.slice(15,-1);  // Removing <!DOCTYPE html>#}
{#            let html_tag = '<html lang="en">';#}
{#            let new_html = html_tag.concat(' ', html_slice);#}
{#            $(iframe).load(new_html);#}
{#        }#}
{##}
        $(document).ready(function() {
            htmlToTemplate({{ query.choro_html|safe }}
{#            htmlToIframe({{ query.choro_html|safe }});});#}
{##}
{##}
{##}
{##}
{#    let d1 = document.getElementById('#adjacent-target');#}
{#    d1.insertAdjacentHTML('afterend', {{ query.choro_html|safe }})#}
{##}
    </script>

{% endblock %}

{% block content %}

{#       <div id="choro-div">#}
{#            <iframe id="choro-iframe" srcdoc="{{ query.choro_html }}" scrolling="no" allowfullscreen></iframe>#}
{#        </div>#}

{#    <div id="choro-div">#}
{#        <template id="choro-template"></template>#}
{#        <iframe class="choro-iframe" srcdoc="{{ query.choro_html }}"></iframe>#}
{#    </div>#}



    <div class="container">

        <div class="row">

            <div class="col-6">

{#                <div class="col-12">#}
{#                    {{ query.choro_html }}#}
{#                </div>#}



                <h1>Query Details</h1>

                <div id="adjacent-target">
                    <p>ARGUMENT: {{ query.argument }}</p>
                    <p>TYPE: {{ query.query_type }}</p>
                    <p>DATE: {{ query.date_created_readable }}</p>
                    <p>ARCHIVED: {{ query.archived }}</p>
{#                    <p>FILEPATH: {{ query.filepath }}</p>#}
{#                    <p>USER.PK = {{ user.pk }}</p>#}
{#                    <p>USER.ID = {{ user.id }}</p>#}
{#                    <p>QUERY.AUTHOR.PK = {{ query.author }}</p>#}
                    <p>QUERY.AUTHOR = {{ query_author }}</p>
                </div>




                {% if user.pk == query_author.id %}

                    {% if query.archived is False %}

                        IN QUERY.SAVED is FALSE
                        <div>

                            <form method="post" action="{% url 'new_post' %}">
                                {% csrf_token %}

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Post Title</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter Title Here" aria-label="Post Title" name="_title">
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Post Body</span>
                                    </div>
                                    <textarea class="form-control" id="new-post-textarea" aria-label="Post Body" name="_body" rows="11"></textarea>
                                </div>

                                <div class="input-group">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label"> Private
                                            <input type="radio" class="form-check-input" id="private-save-false" name="save_radio" checked>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label"> Public
                                            <input type="radio" class="form-check-input" id="public-save-false" name="save_radio">
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default">Post Query</button>
                                <input type="hidden" name="user_pk" value="{{ user.pk }}">
                                <input type="hidden" name="query_pk" value="{{ query.pk }}">
                            </form>


                            <form method="post" action="{% url 'delete_query' query.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete Query</button>
                            </form>

                        </div>
                    {% endif %}


                    {% if query.archived is True %}

                        IN ELSE
                        <form method="post" action="{% url 'update_post' post.pk %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label"> Private
                                        <input type="radio" class="form-check-input" id="private-save-true" name="save_radio" checked>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label"> Public
                                        <input type="radio" class="form-check-input" id="public-save-true" name="save_radio">
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default">Update Post</button>
                            <input type="hidden" name="user_pk" value="{{ user.pk }}">
                            <input type="hidden" name="query_pk" value="{{ query.pk }}">
                        </form>


                        <form method="post" action="{% url 'delete_post' post.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete Post</button>
                            <sub>* Query will also be deleted</sub>
                        </form>


                    {% endif %}
                {% endif %}
            </div>

            <!--
            <div class="col-5">
            <div class="panel panel-info" id="query-articles-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Articles Returned by Query</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
            -->

{#            <div class="col-5 flex-column d-flex">#}
            <div class="col-6">
                <div class="card">
                    <div class="card-header"><h1>Articles from Query</h1></div>
                    <ul class="list-group">                        {% comment %}{% for article in query.articles|slice:20 %}
                        {% for article in query.articles|slice:'20' %}{% endcomment %}
                        {% for article in articles %}
                            {% if article %}
                                <li class="list-group-item">
                                    <p class="lgi-t">Title: {{ article.title }}</p>
                                    <sub class="lgi-t">
                                        Author: {{ article.author }} --
                                        Published: {{ article.get_date_published }}
                                    </sub>
                                    <blockquote class="article-desc lgi-t">{{ article.description }}</blockquote>
                                    <sub class="lgi-t"><a href="{{ article.article_url }}">Link to Original</a></sub>
                                </li>
                            {% endif %}
                        {% empty %}
                            <p class="list-group-item">No Articles Found for Query</p>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}