{% extends 'news_mapper_web/base.html' %}

{% block title %}View Post - {{ block.super }}{% endblock %}

{% block scripts %} {{ block.super }} {% endblock %}

{% block content%}
    <div class="row" id="view-post-upper">

        <div class="col-6">
            <div class="view-post-post">
                <h3 class="lt-header">{{ post.title }}</h3>
                <small class="view-post-post-detail">
                    By
                    <a class="view-post-author-link" href="{% url 'view_user' post.author.pk %}">{{ post.author.first_name }}</a>
                    {{ post.date_published }}
                </small>
                <blockquote>{{ post.body }}</blockquote>
            </div>
        </div>

        <div class="col-6">
            <div id="view-post-iframe-div">
                <iframe id="view-post-iframe" src="{% url 'view_choro' query.pk %}"></iframe>
            </div>
        </div>
    </div>


    <div class="row" id="view-post-comments-container">
        <div class="col-12">
             <h3 id="view-post-comments-header">Comments</h3>
            {% for comment in post.comments.all %}
                <div class="view-post-comment">
                    <blockquote class="view-post-comment-body">{{ comment.body }}</blockquote>
                    <small class="view-post-comment-footer">
                        Comment by <a href="{% url 'view_user' comment.author.pk %}">{{ comment.author.first_name }}</a> - {{ comment.date_published }}
                    </small>
                </div>
            {% empty %}
                <p>No Comments Yet</p>
            {% endfor %}

            <a href="{% url 'new_comment' post.pk %}">
                <button id="view-post-add-comment-btn" class="btn btn-default">Add Comment</button>
            </a>
        </div>
    </div>


{% endblock %}