
{% extends 'news_mapper_web/base.html' %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row" id="view-user-upper" >
            <div class="col-12 center-block" id="view-user-banner">
                <div class="jumbotron">

                    {% if request.user.pk == member.pk %}
                        <h2>Welcome, {{ member.username }}! </h2>
                    {% else %}
                        <h2>Viewing {{ member.username }}'s Profile</h2>
                    {% endif %}

                     <small>Member Since {{ member.date_joined }}</small>

                </div>
            </div>
        </div>

        <div class="row" id="view-user-lower">

            <div class="col-8" id="view-user-latest-post">

                <div class="col-12">
                    {% if last_post %}
                        <h3>
                            Title: {{ last_post.title }}
                            <small>{{ last_post.date_published }}</small>
                        </h3>
                        <div>
                            <blockquote>
                                {{ last_post.body }}
                            </blockquote>
                        </div>
                        <a href="{% url 'view_post' last_post.pk %}">View Full Post</a>
                    {% else %}
                            Add How To Guide for Posts
                    {% endif %}
                </div>

                <div class="col-12">
                    {% if last_post %}
                        {% for comment in post.comments|slice:':4' %}
                            {% if comment %}
                                <h3>Comment by {{ comment.author }} - {{ comment.date_published }}</h3>
                                <blockquote>{{ comment.body }}</blockquote>
                            {% endif %}
                        {% empty %}
                            <p>No Comments Yet</p>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>


            <div class="col-4" id="view-user-history">

                <div class="col-12" id="user-recent-posts">

                    {% if request.user.pk == member.pk %}
                        <h3 class="view-user-section-head">YOUR RECENT POSTS</h3>
                    {% else %}
                        <h3 class="view-user-section-head">{{ member.first_name|upper }}'s RECENT POSTS</h3>
                    {% endif %}

                    <ul>
                        {% for post in posts %}
                            {% if post %}
                                <li><a href="{% url 'view_post' post.pk %}">{{ post.title }}</a></li>
                            {% endif %}
                        {% empty %}
                            <li>No Posts Yet</li>
                        {% endfor %}
                    </ul>

                </div>

                <div class="col-12" id="user-recent-comments">

                    {% if request.user.pk == member.pk %}
                        <h3 class="view-user-section-head">YOUR RECENT COMMENTS</h3>
                    {% else %}
                        <h3 class="view-user-section-head">{{ member.first_name|upper }}'s RECENT COMMENTS</h3>
                    {% endif %}

                    <ul>
                        {% for comment in comments %}
                            {% if comment %}
                                <li class="view-user-comment-li"><a  class="view-user-comment-a" href="{% url 'view_comment' comment.pk %}">{{ comment.body|truncatechars:175 }}</a></li>
                            {% endif %}
                        {% empty %}
                            <li>No Comments Yet</li>
                        {% endfor %}
                    </ul>

                </div>

                {% if request.user.pk == member.pk %}
                    <div class="col-12" id="user-recent-queries">
                        <h3 class="view-user-section-head">YOUR RECENT QUERIES</h3>
                        <ul>
                            {% for query in queries %}
                                {% if query %}
                                    <li>
                                        Searched: {{ query.query_type }}
                                        For: {{ query.argument }}
                                        Date: {{ query.date_created }}
                                        <a href="{% url 'view_query' query.pk %}">Details</a>
                                    </li>
                                {% endif %}
                            {% empty %}
                                <li>No Queries Yet</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>  {% comment %} END COL-*-5 {% endcomment %}
        </div>  {% comment %} END ROW {% endcomment %}
    </div>  {% comment %} END CONTAINER {% endcomment %}

 {% endblock %}



