{% extends 'news_mapper_web/base.html' %}

{% block title %}View Comment - {{ block.super }}{% endblock %}

{% block scripts %} {{ block.super }} {% endblock %}

{% block content%}
    <div class="view-comment-container">
        <h4 class="view-comment-title">
            Comment by
            <a href="{% url 'view_user' comment.author.pk %}">{{ comment.author.first_name }}</a>
            to post
            <a href="{% url 'view_post' comment.post.pk %}">{{ comment.post.title }}</a>
            by
            <a href="{% url 'view_user' comment.post.author.pk %}">{{ comment.post.author.first_name }}</a>
        </h4>
        <small class="view-comment-subtitle">Published {{ comment.date_published }}</small>

        <blockquote class="view-comment-body">{{ comment.body }}</blockquote>

        {% if user.pk == comment.author.pk %}
            <form method="post" action={% url 'delete_comment' comment.pk %}>
                {% csrf_token %}
                <input type="hidden" name="redirect_url" value="{% url 'view_post' comment.post.pk %}">
                <button type="submit" class="btn view-comment-del-btn"><small>Delete Comment</small></button>
            </form>
        {% endif %}

    </div>

{% endblock %}