
{% extends 'news_mapper_web/base.html' %}

{% block title %}
    News Sources - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="view-src-row">
            <div class="col-4 sources" id="sources-left">
                <h2>Sources by Country</h2>
                {% regroup sources|dictsort:'country' by country as sources_by_country %}
                <ul>
                    {% for country in sources_by_country %}
                        <li>{{ country.grouper }}
                            <ul>
                                {% for source in country.list %}
                                    <li>
                                        <a href="{{ source.url }}">{{ source.name }}</a>
                                        <sub>{{ source.category|capfirst }} - {{ source.full_lang }}</sub>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-4 sources">
                <h2>Sources by Category</h2>
                {% regroup sources|dictsort:'category' by category as sources_by_category %}
                <ul>
                    {% for category in sources_by_category %}
                        <li>{{ category.grouper|capfirst }}
                            <ul>
                                {% for source in category.list %}
                                    <li>
                                        <a href="{{ source.url }}">{{ source.name }}</a>
                                        <sub>{{ source.country }} - {{ source.full_lang }}</sub>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-4 sources">
                <h2>Sources by Language</h2>
                {% regroup sources|dictsort:'full_lang' by full_lang as sources_by_language %}
                <ul>
                    {% for full_lang in sources_by_language %}
                        <li>{{ full_lang.grouper }}
                            <ul>
                                {% for source in full_lang.list %}
                                    <li>
                                        <a href="{{ source.url }}">{{ source.name }}</a>
                                        <sub>{{ source.country }} - {{ source.category|capfirst }}</sub>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}