backcall
bleach
branca
certifi
chardet
click
click-plugins
cligj
colorama
cycler
decorator
defusedxml
descartes
Django
django-atlas
django-category
django-object-tools
django-photologue
django-sortedm2m
django-tastypie
entrypoints
ExifRead
Fiona
folium
GDAL
geopandas
html5lib
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
munch
nbconvert
nbformat
newsapi
newsapi-python
notebook
numpy
pandas
pandocfilters
parso
pickleshare
Pillow
pipenv
prometheus-client
prompt-toolkit
pycountry
Pygments
pyparsing
pyproj
PySAL
python-dateutil
python-mimeparse
pytz
pywinpty
pyzmq
qtconsole
requests
Rtree
scipy
Send2Trash
Shapely
simplegeneric
six
sqlparse
terminado
testpath
tornado
traitlets
urllib3
virtualenv
virtualenv-clone
wcwidth
webencodings
widgetsnbextension
