* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    margin-bottom: 60px;
    height: 100%;
    background-color: #010414;
    color: #eee8d5;
}

footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: block;
    /*margin-top: 100%;*/
}

#clock {
    right: 0;
    color: grey;
}

.sources {
    margin-left: 0;
    margin-right: 0;
    /*border-left: 1pt dashed grey;*/
    /*border-right: 1pt dashed grey;*/
    border-collapse: separate;
}

.row {
    width: 100%;
    padding: 0;
    margin: 0;
    /*margin: 0;*/
    /*padding: 0;*/
    /*display: block;*/
}

.container {
    /*width: 100%;*/
    /*margin: 30px;*/
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}





/*.article-desc {*/
    /*text-wrap: normal;*/
    /*max-width: 30%;*/
    /*text-overflow: ellipsis;*/
    /*border-bottom: 1pt solid black;*/
    /*background-color: dodgerblue;*/
/*}*/

/*.article-list {*/
    /*border-bottom: 1pt black solid;*/
    /*border-top: 1pt black solid*/
/*}*/

/*.folium-map.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leafet-touch-drag.leaflet-touch-zoom.leaflet-retina.leaflet-safari {*/
    /*max-width: 60%;*/
    /*padding: 10px;*/
    /*border: 1pt solid red;*/
/*}*/


/*#choro-iframe {*/
    /*width: 1000px;*/
    /*height: 500px;*/
    /*resize: both;*/
    /*overflow: auto;*/
/*}*/

#choro-div {

    overflow: auto;
    padding-top: 66.66%;
    position: relative;
    width: 1000px;
    height: 500px;
    resize: both;

}

#choro-iframe {
    border: 0;

    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    top: 0;

    width: 1000px;
    height: 500px;
    resize: both;

}

/*.col-6 {*/
    /*margin-bottom: 30px;*/
/*}*/

.card-header h1 {
    align-content: center;
}

.card {
    height: calc(100vh - 60px);
    max-height: calc(100vh - 550px);
    margin-bottom: 60px;
}

.card .list-group {
    overflow-y: scroll;
}

.list-group {
    max-height: calc(100vh - 150px);
    /*margin-bottom: 30px;*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.lgi-t {
    /*background-color: #0a001f;*/
}

.list-group-item {
    /*background-color: #0a001f;*/
    /*color: white;*/
    margin: 2em;
    border: 2pt solid black;

    /*border-bottom: 2pt solid black;*/
}

.view-post-comment {
    border: 1pt solid darkslategray;
    margin: 1em;
    padding: 1em;
    background-color: #002b36;
    color: #B0D7FF;
}

#view-post-post {
    margin: 1em;
    padding: 2em;
    background-color: #ADACB5;
    color: #010414;
    overflow-y: scroll;;

}

#view-post-iframe-div {
    margin: 1em;
    overflow: hidden;
    padding-top: 66.66%;
    position: relative;
}

#view-post-iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#content-div {
    padding: 1em;
}

footer {
    padding: 1em;
    right: 0;
    margin: auto;
    display: block;
    width: 100%;
    left: -100%;
}
/*.list-group-horizontal .list-group-item {*/
	/*margin-bottom: 0;*/
	/*margin-left:-4px;*/
	/*margin-right: 0;*/
/*}*/
/*.list-group-horizontal .list-group-item:first-child {*/
	/*border-top-right-radius:0;*/
	/*border-bottom-left-radius:4px;*/
/*}*/
/*.list-group-horizontal .list-group-item:last-child {*/
	/*border-top-right-radius:4px;*/
	/*border-bottom-left-radius:0;*/
/*}*/

