none {
    color:
    #002B36
    #010414
    #004249
    #D8D5DB
    #ADACB5
    #B0D7FF
    #F1AB86
    #F7DBA7
    #F9DC5C
    #8B2635

    #ED254E
    #5EB1BF
    #CDEDF6
    #010414
    #2F4550
    #515052
    #220C10
}

* {
    margin: 0;
    color: #00131E;

}

html {
    height: 100%;
    padding: 0;
}

.jumbotron {
}

nav {
    background-color: #ED254E;
    color: #00131E;
    min-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.nav-item, .nav-link, .navbar-brand {
    font-weight: 900;
    color: #00131E;
}

.navbar-brand:hover {
    color: #00131E;
}

.nav-item:hover, .nav-link:hover {
    color: #CDEDF6;
}

#user-recent-comments,
#user-recent-posts,
#user-recent-queries {
    margin-bottom: 3em;
}

div {
    /*background-color: #0a001f;*/
}

body {
    margin-bottom: 60px;
    height: 100%;
    padding: 0;
}

a {
    color: #00131E;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: block;
}

#clock {
    right: 0;
}

.sources {
    margin-left: 0;
    margin-right: 0;
    border-collapse: separate;
}

.row {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #00131E;
    border-radius: 5pt;
    color: #eee8d5;
}
.row * {
    color: #eee8d5;
}

.row * button {
    color: #00131E;;
}

.new-query-div {
    text-align: center;
    height: 100%;
    padding: 3em;
}

.new-query-div.upper {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.new-query-div.lower {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.container {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.view-user-comment-a,
.view-user-comment-li{
}


#choro-div {
    overflow: auto;
    padding-top: 66.66%;
    position: relative;
    width: 1000px;
    height: 500px;
    resize: both;

}

#choro-iframe {
    border: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 1000px;
    height: 500px;
    resize: both;
}

.view-query-articles {
    height: 100%;
}
.view-query-article {
    height: 100%;

}

iframe {

}

.card-header h1 {
    align-content: center;
}

.card {
    height: calc(100vh - 60px);
    max-height: calc(100vh - 325px);

}

.card .list-group {
    /*overflow-y: scroll;*/
}

.list-group {
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

p.lgi {
    font-size: 18pt;
}
.lgi {
    /*font-weight: 600;*/
   color: #00131E;
}
h4.lgi {
    font-weight: 600;
}

.list-group-item {
    margin: 2em;
    /*border: 2pt solid #0a001f;*/
    height: 100%;
}

.article-image-iframe {
    width: 500px;
    height: 500px;
    ;
}

.article-img {
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.view-post-comment {
    /*border: 1pt solid darkslategray;*/
    margin: 1em;
    padding: 1em;
    border-radius: 5pt;
}

#view-post-post {
    margin: 1em;
    padding: 2em;
    overflow-y: auto;
    background-color: #00131E;
    border-radius: 5pt;
}

#view-post-post * {
    color: #eee8d5;
}

#view-post-iframe-div {
    margin: 1em;
    overflow: hidden;
    padding-top: 66.66%;
    position: relative;
}

#view-post-iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.view-post-comment {
    border: 1pt solid darkslategray;
    background-color: #00131E;
}

.view-post-comment small, .view-post-comment blockquote {
    color: #eee8d5;
}


#content-div {
    padding: 1em;
}

footer {
    padding: 1em;
    margin: auto;
    width: 100%;
    text-align: center;
}

#footer-div {
    float: right;
}

td, tr {
    font-size: 18pt;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: auto; ;
    /*width: 60%;*/
    text-align: center;

}

.post-query-container {

}

.title-center {
    text-align: center;
}

tr {
    /*padding: 30px;*/
}
table, tr, td {
    /*border: solid 1pt darkslategray;*/
    /*border-collapse: collapse;*/
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1em;
}

#main {
    padding: 0;
}

li.list-group-item.lgi {
    padding: 1em;
}

blockquote.article-desc.lgi, .col-8.lgi {
    padding: 0;
    margin: 0;
    left: 0;
}

a:link {
    color: #00131E;
}
blockquote {
    margin: 0;
}
div.col-8.lgi {
    padding: 1em;
}
input {
    color: #00131E;
}

label, .input-group-prepend, .input-group-text {
    color: #00131E;
}

#new-post-span {
    width: 100%;
    text-align: center;
    background-color: #5EB1BF;
    font-size: 16pt;

}

#view-query-post-options {
    display: block;
    margin: 0;
}

.card-header {
    background-color: #00131E;
}